:root{
    font-size:30px;
}

@font-face{
    font-family: 'editundo'; 
    src: url('./editundo.ttf') format('truetype');
}
body{
    background:linear-gradient(to bottom,#100032,#000000);
    color: #8230Fb;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    gap: 2rem;
}
footer{
    background:linear-gradient(to bottom,#200064,#000000);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0rem;
    width: 100%;
    height: clamp(.0125rem, 5vw, 1.25rem);
    background:linear-gradient(to top,#200064,#000000);
}
nav{
    top: clamp(.00125rem, .5vw, .125rem);
    left: .1vw;
}
nav{
    font-size: clamp(.01rem, 4vw, 1rem);
}
h1,h2,h3,h4,h5,h6,p,h2,ol,li,a,body,input,textarea,
form,select{
    color: #8230Fb;
    font-family:"editundo";
    line-height: 105%;
}
h1{
    color:#A250FF;
    text-shadow: 0px 0px 10px #A250FFAB;
}
ul{
    list-style-type: none;
}
.link{
    color:#5940ff;
}
.red{
    color:#FF0000;
}
.green{
    color:#00FF00;
}
.blue{
    color:#0000FF;
}
.yellow{
    color:#FFFF00;
}
.orange{
    color:#FF9000;
}
.purple{
    color:#9000FF;
}
img{
    background-color:#FFFFFF;
}
input,textarea,select{
    background-color:#020000;
}
.box{
    padding: .75rem;
    margin: .5rem;
    display:inline-block;
    text-align: center;
    flex: 1;
    width: 90vw;
}