:root{
    font-size:30px;
    --c_txt:#0030Fb;
    --c_h1:#0050FF;
    --c_h1_trans: #0050FFAB;
    --c_bg_dark1:#000032;
    --c_bg_dark2:#000064;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'editundo'; 
    src: url('./editundo.ttf') format('truetype');
}
body{
    background:linear-gradient(to bottom,var(--c_bg_dark1),#000000);
    background-attachment: fixed;

    color: var(--c_txt);
    font-family:"editundo";

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    gap: 2rem;
}
footer{
    background:linear-gradient(to bottom,var(--c_bg_dark2),#000000);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0rem;
    width: 100%;
    height: clamp(.0125rem, 5vw, 1.25rem);
    background:linear-gradient(to top,var(--c_bg_dark2),#000000);
}
nav{
    top: clamp(.00125rem, .5vw, .125rem);
    left: .1vw;
    font-size: clamp(.01rem, 4vw, 1rem);
}
nav a{
    color:var(--c_h1)
}
h1,h2,h3,h4,h5,h6,p,h2,ol,li,a,body,input,textarea,
form,select{
    line-height: 105%;
}
h1{
    color:var(--c_h1);
    text-shadow: 0px 0px 10px var(--c_h1_trans);
}
ul{
    list-style-type: none;
}
.link{
    color:#4600ff;
}.link:visited{
    color:#5940ff;
}.link:active{
    color:#A6BF00
}
.red{
    color:#FF0000;
}
.green{
    color:#00FF00;
}
.blue{
    color:#0000FF;
}
.yellow{
    color:#FFFF00;
}
.orange{
    color:#FF9000;
}
.purple{
    color:#9000FF;
}
.white{
    color:#FFFFFF;
}
.catanic_green{
    color:#008000
}
.catanic_blue{
    color:#88a8c8
}
img{
    background-color:#FFFFFF;
}
input,textarea,select{
    background-color:#020000;
}
.box{
    padding: .75rem;
    margin: .5rem;
    display:inline-block;
    text-align: center;
    flex: 1;
    width: 90vw;
}