@font-face{
    font-family: 'editundo'; 
    src: url('./editundo.ttf') format('truetype');
}
body{
    background-color:#020000;
    color:#FFFFFF;
    border-color:#FFFFFF;
}
footer{
    background-color:#181212;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
header{
    position: fixed;
    top: 5px;
    left: 5px;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,h2,ol,li,a,body,input,textarea,
form,select{
    color:#FFFFFF;
    font-family:"editundo";
}
a{
    color:#5940ff;
}
.red{
    color:#FF0000;
}
.green{
    color:#00FF00;
}
.blue{
    color:#0000FF;
}
.yellow{
    color:#FFFF00;
}
.orange{
    color:#FF9000;
}
.purple{
    color:#9000FF;
}
img{
    background-color:#FFFFFF;
}
input,textarea,select{
    background-color:#020000;
}
